body{
    width:960px;
    margin:0 auto;
    background-color:#eee;

}
h1{
    font-size: 200%;
    margin-left: 50px;
    margin-bottom: 40px;
    margin-top: 40px;
    font-weight: bold;
    text-decoration: underline;
}

p{
    margin:50px;
    font-size:100%;
}